{% extends "@FOSUser/layout.html.twig" %}

{% block subtitle %}
    <div class="row d-flex align-content-center text-center">
        <h3 class="deep-grey-text text-center mt-3 mb-4 pb-1 mx-5">Changer le mot de passe</h3>
    </div>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
