{% extends "IUTCoreBundle::layout.html.twig" %}

{% block title %}
    Erobot
{% endblock %}

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/Core/onepage.css') }}">
    {% endblock %}


    {% block body %}

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">


            <main role="main" class="inner cover">
                <h1 class="cover-heading">Cover your page.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                    edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                </p>
            </main>


        </div>

    {% endblock %}



