
{% extends "IUTAdminBundle::layout.html.twig" %}

{% block title %}
    Erobot - Dashboard
{% endblock %}

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="{{ asset('bundles/iutadmin/css/connect.css') }}">
    {% endblock %}


{% block header %}

{% endblock %}

{% block body %}
    <div style="height: 100vh">
        <div class="flex-center flex-column">



            <section class="form-simple ">

                <!--Form with header-->
                <div class="card">

                    <!--Header-->
                    <div class="header pt-3 grey lighten-2">

                        <div class="row d-flex justify-content-start">
                            <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Connexion</h3>
                        </div>

                    </div>
                    <!--Header-->

                    <div class="card-body mx-4 mt-4">

                        <form method="post" action="{{ path('iut_admin_homepage') }}">
                        <!--Body-->
                        <div class="md-form" >
                            <input type="text" id="Form-email4" class="form-control">
                            <label for="Form-email4">Identifiant</label>
                        </div>

                        <div class="md-form pb-3">
                            <input type="password" id="Form-pass4" class="form-control">
                            <label for="Form-pass4">Mot de passe</label>

                        </div>

                        <div class="text-center mb-4">
                            <button type="submit" class="btn btn-orange btn-block z-depth-2">Connexion</button>
                        </div>
                        <p class="font-small grey-text d-flex justify-content-center">Pas de mot de passe ?  <a href="{{ path('iut_core_home') }}#contact" class="dark-grey-text font-weight-bold ml-1">Contactez nous</a></p>

                        </form>



                    </div>

                </div>
                <!--/Form with header-->

            </section>


        </div>


    </div>


{% endblock %}
{% block navbar %}



{% endblock %}
{% block customscript %}



{% endblock %}